##################################
# .NET
##################################
bin/
obj/
*.user
*.userosscache
*.suo
*.useropt

##################################
# Visual Studio
##################################
.vs/
.vscode/
*.sln.user

##################################
# IDE
##################################
.idea/
*.iml
*.ipr
*.iws

##################################
# OS
##################################
.DS_Store
Thumbs.db

##################################
# Logs
##################################
*.log
logs/
